img {

    border-radius : 5px;
    width: 70% ;
    height : 70%;
}

h4 {
    color:rgb(23, 74, 241);
    font-weight:700;
}

.mainClass{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.ContainerClass {
    height : 250px;
    border-bottom:1px solid gray;
    border-right : 1px solid gray ;
    padding:30px;
    display:flex;
    flex-wrap:wrap;
}
.image {
    flex-basis: 50%;
    max-width: 50%;

}
.description {
    flex-basis: 50%;
    max-width: 50%;
}