.App {
  text-align: center;
  display:flex !important;
  flex-wrap:wrap;
}
.body {
  background-color : whitesmoke;
}
.courses {
  flex-basis: 80% !important;

  max-width: 80% !important;
}
.cart {
  flex-basis: 20% !important;

  max-width: 20% !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li {
  color : red;
  font-weight:700;
}
h2 {
  font-weight : bold;
  color:rgb(5, 39, 134);
}
h3 {
  color : rgb(141, 141, 6);
  font-weight : bold;
}